<div class="calculation calculation-input" id="calculation_out">
    <label class="calculation-signature" for="out">{{ pair.getOut.abbreviation }}{{ pair.getOut.payment.signature }}</label>
    <input id="out" type="text">
</div>