<div class="calculation calculation-input" id="calculation_in">
    <label class="calculation-signature" for="in">{{ requisition.pair.getIn.abbreviation }}{{ requisition.pair.getIn.payment.signature }}</label>
    <span id="in">{{ requisition.getIn }}</span>
</div>