<div class="calculation calculation-input" id="calculation_in">
    <label class="calculation-signature" for="in">{{ requisition.pair.getOut.abbreviation }}{{ requisition.pair.getOut.payment.signature }}</label>
    <span id="in">{{ requisition.getOut }}</span>
</div>